<%- include("partials/header.ejs") %>

    <header>
        <h2><%= message %></h2>
    </header>

    <section class="fact-section">
        <img src=<%= imageUrl %> alt="<%= eventDescription %>">
        <q><i><%= eventDescription %></i></q>
        <small>In <%= eventDate %></small>
    </section>

<%- include("partials/footer.ejs") %>